!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/css/bootstrap.css')
      link(rel='stylesheet', href='/css/styles.css')
      script(src='/js/jquery.js')
      script(src='/js/bootstrap.js')
      script(src='/js/app.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href='/') Leipzig.js

          .nav-collapse.collapse
            ul.nav
              li
                a(href='#') News
              li
                a(href='#') Kontakt
              li
                a(href='#') Impressum
            ul.nav.pull-right
              li
                a(rel='tooltip', target='_blank', href='http://www.github.com/leipzigjs', rel='tooltip', title='Unser Github Profil')
                  | Github&nbsp;
                  i.icon-share-alt

    #content.container
      block content

    footer.container
      hr

      div.inner
        block footer
          p &copy; #{ new Date().getFullYear() } #{ locals.owner }
